apiVersion: apps/v1
kind: Deployment
metadata:
  name: transaction-service
  namespace: payment-pulse-guard
  labels:
    app: transaction-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: transaction-service
  template:
    metadata:
      labels:
        app: transaction-service
    spec:
      containers:
        - name: transaction-service
          image: payment-pulse-guard/transaction-service:0.1.0
          ports:
            - containerPort: 8081
          env:
            - name: KAFKA_BOOTSTRAP_SERVERS
              valueFrom:
                configMapKeyRef:
                  name: payment-pulse-guard-config
                  key: kafka.bootstrap.servers
            - name: POSTGRES_URL
              valueFrom:
                secretKeyRef:
                  name: payment-pulse-guard-db
                  key: url
            - name: ML_SERVICE_URL
              value: "http://ml-scoring-service:8000"
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "2Gi"
              cpu: "2000m"
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8081
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8081
            initialDelaySeconds: 20
            periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: transaction-service
  namespace: payment-pulse-guard
spec:
  selector:
    app: transaction-service
  ports:
    - port: 8081
      targetPort: 8081
  type: ClusterIP
