server:
  port: 8082

spring:
  application:
    name: customer-service
  datasource:
    url: ${POSTGRES_URL:jdbc:postgresql://localhost:5432/fraudaml}
    username: ${POSTGRES_USER:admin}
    password: ${POSTGRES_PASSWORD:password}
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
