server:
  port: 8085

spring:
  application:
    name: enrichment-service
  datasource:
    url: ${POSTGRES_URL:jdbc:postgresql://localhost:5432/fraudaml}
    username: ${POSTGRES_USER:postgres}
    password: ${POSTGRES_PASSWORD:password}
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    show-sql: false

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
